// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "example-cluster"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "example-cluster.devcluster.openshift.com"

// Base domain from which the cluster domain is a subdomain.
base_domain = "devcluster.openshift.com"

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "vcsa.vmware.devcluster.openshift.com"

// User on the vSphere server.
vsphere_user = "YOUR_USER"

// Password of the user on the vSphere server.
vsphere_password = "YOUR_PASSWORD"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "devel"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "dc1"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "nvme-ds1"

// Name of the VM template to clone to create VMs for the cluster. The dev cluster has a template named "rhcos-latest".
vm_template = "rhcos-latest"

// his is the name of the publicly accessible network for cluster ingress and access.
vm_network = "VM Network"

// The number of control plane VMs to create. Default is 3.
control_plane_count = 3

// The number of compute VMs to create. Default is 3.
compute_count = 3

// Ignition config for the bootstrap machine. You should change the source, based on your environment.
bootstrap_ignition = <<END_OF_BOOTSTRAP_IGNITION
{"ignition":{"config":{"merge":[{"source":"http://10.20.15.2:80/ignition/bootstrap.ign","verification":{}}],"replace":{"source":null,"verification":{}}},"security":{"tls":{}},"timeouts":{},"version":"3.0.0"},"passwd":{},"storage":{},"systemd":{}}
END_OF_BOOTSTRAP_IGNITION

// Ignition config for the control plane machines. You should copy the contents of the master.ign generated by the installer.
control_plane_ignition = <<END_OF_MASTER_IGNITION
Copy the master ignition generated by the installer here.
END_OF_MASTER_IGNITION

// Ignition config for the compute machines. You should copy the contents of the worker.ign generated by the installer.
compute_ignition = <<END_OF_WORKER_IGNITION
Copy the worker ignition generated by the installer here.
END_OF_WORKER_IGNITION


// Set bootstrap_mac, control_plane_macs, and compute_macs

// The MAC address to assign to the bootstrap VM.
bootstrap_mac = "00:1c:14:00:00:03"

// The MAC addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
control_plane_macs = ["00:1c:14:00:00:11", "00:1c:14:00:00:12", "00:1c:14:00:00:13"]

// The MAC addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
compute_macs = ["00:1c:14:00:00:41", "00:1c:14:00:00:42", "00:1c:14:00:00:43"]
